{% extends 'Bmeste/base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'Bmeste/css/carousel.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'Bmeste/css/styles-index.css' %}" rel="stylesheet" type="text/css">


<div class="index">
    <h1>В Месте</h1>
    <h2>함께, 그곳에</h2>
    <div id="line_disp">
        <svg class="index_line">
            <rect id="index_line"></rect>
        </svg>
    </div>
</div>

<div class="gallery">
    <div class="gallery-container">
        {% for author in author_list %}
        <figure class="gallery-item gallery-item-{{ author.id }}" data-index="{{ author.id }}">
            <img class="gallery-photo gallery-photo-{{ author.id }}" src="{{ author.img.url }}">
            <h3><a href='/author/{{ author.id }}/'>바로가기</a></h3>
            <figcaption><text>{{ author.name }}</text></figcaption>
        </figure>
        {% endfor %}
    </div>
    <div class="gallery-controls"></div>
</div>

<script src="{% static 'Bmeste/js/carousel.js' %}"></script>
{% endblock %}