{% extends 'Bmeste/base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'Bmeste/css/styles-pieces.css' %}" rel="stylesheet" type="text/css">
{% block title %}<title>{{author.name}} - В Месте</title>{% endblock %}


<div class="author_description">
    <img src="{{ author.img.url }}"/>
    <div class="description">
        <div class="profile">
            <p>{{ author.name }}({{ author.name_rus }})</p>
            <p>{{ author.birth }}-{{ author.death }}</p>
        </div>
        <p>{{ author.description }}</p>    
    </div>
</div>


<div class="boxes">
{% if author.piece_set.all %}    
    {% for piece in author.piece_set.all %}
        <a href="/pieces/{{ piece.id }}/">
        <div id="container">
                <svg id="box">
                    <rect class="rectangle"></rect>
                    <text text-anchor="middle"
                        alignment-baseline="middle"
                        x="50%" y="35%"
                        font-size="5rem"
                        fill="#ffffff" filter="drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161))">{{ piece.title }}</text>
                        <text text-anchor="middle"
                        alignment-baseline="middle"
                        x="50%" y="55%"
                        font-size="5rem"
                        fill="#ffffff" filter="drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161))">{{ piece.title_rus }}</text>
                </svg>
                
            </div>
        </a>
    {% endfor %}
</div>
{% else %}
    <p>Service is not azik ready.</p>
{% endif %}
{% endblock %}