{% extends 'Bmeste/base.html' %}
{% block content %}
{% load static %}
    {% block title %}<title>{{ piece.title }} - В Месте</title>{% endblock %}
    <link href="{% static 'Bmeste/css/styles-pieces_detail.css' %}" rel="stylesheet" type="text/css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <div class="seperate">
        <div id="map"></div>
        <div id="decription">
            <svg class="box_discript">
                <rect class="box_rect_discript"></rect>
                <text text-anchor="middle"
                    alignment-baseline="middle"
                    x="50%" y="50%"
                    font-size="4rem"
                    fill="#ffffff"
                    writing-mode="vertical-rl"
                    filter="drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161))">설명보기</text>
            </svg>
        </div>
        <div class="boxes">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for detail in piece.piece_detail_set.all %}
            <div id="container">
                <svg class="box">
                    <rect class="box_rect"></rect>
                    <text text-anchor="middle"
                        alignment-baseline="middle"
                        x="50%" y="50%"
                        font-size="2rem"
                        fill="#ffffff"
                        filter="drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161))">{{ forloop.counter }}. {{ detail.piece_detail }}</text>
                </svg>
            </div>
        {% endfor %}
        </div>

    </div>
    <form action="{% url 'Bmeste:c_post' piece.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="comment_user" id="comment_user" placeholder="User">
        <input type="text" name="comment_text" id="comment_text" placeholder="Comment">
        <button type="submit">게시</button>
    </form>

    <table class="table table-striped">
    {% for comment in comments %}
    <tr>
        <td>{{ comment.comment_date }}</td>
        <td>{{ comment.comment_user }}</td>
        <td>{{ comment.comment_text|linebreaks }}</td>
    </tr>
    </table>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}



    {% for detail in piece.piece_detail_set.all %}
    {{ detail.piece_detail|json_script:"piece_detail" }}
    {{ detail.location_lat|json_script:"lat" }}
    {{ detail.location_lng|json_script:"lng" }}
    {% endfor %}
    <script type="module" src="{% static 'Bmeste/js/map.js' %}"></script>
    <script type="module" src="{% static 'Bmeste/js/click.js' %}"></script>
    {{ piece.default_location_lat|json_script:"default_location_lat" }}
    {{ piece.default_location_lng|json_script:"default_location_lng" }}

    {% endblock %}