@font-face{
    font-family: SCDream5;
    src: url('../fonts/SCDream5.otf');
}

body{
    font-family: SCDReam5;
    padding-top: 20rem;
}

html {
    font-size: 0.55vh;
}

header {
	width: 100%;
	padding: 5rem;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}

header a, a:visited{
    color: inherit;
    text-decoration: none;
}

.line {
	display: inline-block;
	vertical-align: middle;
	width: 5rem;
	height: 8rem;
	padding: 0.75rem 0 0 1rem;
}

#line {
    fill: #707070;
	width: 0.75rem;
	height: 8rem;
}

header div {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    margin: 0 2rem 0 0;
    display: inline-block;
    font-size: 7.5rem;
    color: #003876;
}

h2 {
    margin: 0;
    display: inline-block;
    font-size: 5rem;
}

.circle_1 {
    position: fixed;
    overflow: visible;
    width: 80.7rem;
    height: 80.7rem;
    left: -18.7rem;
    bottom: -10rem;
    z-index: -1;
    border-image-slice: 0 0 18.7rem 0;
}

#circle_1 {
    fill: #FFFFFF;
    stroke: rgba(94,211,211,0.651);
    stroke-width: 15rem;
}

.circle_2 {
    position: fixed;
    overflow: visible;
    width: 97.9rem;
    height: 97.9rem;
    right: -20rem;
    top: -16.8rem;
    z-index: -1;
    border-image-slice: 16.8rem  0 0;
}

#circle_2 {
    fill: #FFFFFF;
    stroke: rgba(245,245,87,1);
    stroke-width: 7.5rem;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center
}

#container {
    width: 80rem;
    height: 35rem;
    position: relative;
    justify-content: center;
}



#box {
    width: 80rem;
    height: 35rem;
    position: absolute;
}

#container:hover .rectangle {
    fill: #003876;
}

.rectangle{
    fill: #D0CECE;
    rx: 5rem;
	ry: 5rem;
	width: 75rem;
	height: 30rem;
	filter: drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161));
	cursor: pointer;
    transition: all 0.4s ease;
}

img {
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

@media (orientation: landscape) {
    html {
        font-size: 0.45vw;
    }
    .boxes {
        margin: 0 10rem 0 15rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #container {
        width: 42vw;
    }

    #box {
        width: 42vw;
    }

    .rectangle{
        width: 40vw;
    }

}