@font-face{
    font-family: SCDream5;
    src: url('../fonts/SCDream5.otf');
}

body{
    font-family: SCDReam5;
    padding-top: 20rem;
}

html {
    font-size: 0.55vh;
}

header {
	width: 100%;
	padding: 5rem;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}

header a, a:visited{
    color: inherit;
    text-decoration: none;
}

.line {
	display: inline-block;
	vertical-align: middle;
	width: 5rem;
	height: 8rem;
	padding: 0.75rem 0 0 1rem;
}

#line {
    fill: #707070;
	width: 0.75rem;
	height: 8rem;
}

header div {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    margin: 0 2rem 0 0;
    display: inline-block;
    font-size: 7.5rem;
    color: #003876;
}

h2 {
    margin: 0;
    display: inline-block;
    font-size: 5rem;
}

.circle_1 {
    position: fixed;
    overflow: visible;
    width: 80.7rem;
    height: 80.7rem;
    left: -18.7rem;
    bottom: -10rem;
    z-index: -1;
    border-image-slice: 0 0 18.7rem 0;
}

#circle_1 {
    fill: #FFFFFF;
    stroke: rgba(94,211,211,0.651);
    stroke-width: 15rem;
}

.circle_2 {
    position: fixed;
    overflow: visible;
    width: 97.9rem;
    height: 97.9rem;
    right: -20rem;
    top: -16.8rem;
    z-index: -1;
    border-image-slice: 16.8rem  0 0;
}

#circle_2 {
    fill: #FFFFFF;
    stroke: rgba(245,245,87,1);
    stroke-width: 7.5rem;
}

.seperate {
    margin: 0 5rem 0 5rem;
    justify-items: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#container {
    width: 82vw;
    height: 12rem;
    position: relative;
    justify-content: center;
}

.box {
    width: 82vw;
    height: 11rem;
    position: absolute;
    cursor: pointer;
}

.box:hover .box_rect {
    fill: #003876;
}

.box_rect{
    fill: #D0CECE;
    rx: 1.5rem;
	ry: 1.5rem;
	-webkit-rx: 1.5rem;
	-webkit-ry: 1.5rem;
	width: 80vw;
	height: 10rem;
	filter: drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161));
    transition: all 0.4s ease;
}
.box_rect.active{
    fill: #003876;
    rx: 1.5rem;
	ry: 1.5rem;
	-webkit-rx: 1.5rem;
	-webkit-ry: 1.5rem;
	width: 80vw;
	height: 10rem;
	filter: drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161));
    transition: all 0.4s ease;
}


#map {
    z-index: 500;
    height: 50vh;
    width: 100%;
    margin: 0 0 5rem 0;
    transition: all 0.4s ease;
}


@media (orientation: landscape) {
    html {
        font-size: 0.3vw;
    }

    .seperate {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "side right";
    }

    .boxes {
        grid-area: side;
    }

    #container {
        width: 22vw;
    }

    .box {
        width: 22vw;
    }

    .box_rect{
        width: 20vw;
    }

    #map {
        grid-area: right;
        height: 80vh;
        width: 100%;
    }

}