.index {
    margin-top: 100px;
}

.index h1 {
	color: #003876;
	text-align: center;
	font-size: 10.4rem;
	margin: 10rem 0 0 0;
}

.index h2 {
	text-align: center;
	font-size: 7.7rem;
	margin: 0;
}

#line_disp {
    display: flex;
	justify-content: center;
	margin: 0 0 10rem 0;
}

.index_line {
	width: 50rem;
	height: 0.5rem;
}

#index_line {
    fill: #707070;
	width: 200rem;
	height: 0.5rem;
}