.seperate {
    margin: 0 5rem 0 5rem;
    justify-items: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#container {
    width: 82vw;
    height: 12rem;
    position: relative;
    justify-content: center;
}

.box {
    width: 82vw;
    height: 11rem;
    position: absolute;
    cursor: pointer;
}

.box:hover .box_rect {
    fill: #003876;
}

.box_rect{
    fill: #D0CECE;
    rx: 1.5rem;
	ry: 1.5rem;
	width: 80vw;
	height: 10rem;
	filter: drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161));
    transition: all 0.4s ease;
}
.box_rect.active{
    fill: #003876;
    rx: 1.5rem;
	ry: 1.5rem;
	width: 80vw;
	height: 10rem;
	filter: drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161));
    transition: all 0.4s ease;
}

#discript {
    position:relative;
}

.box_discript {
    display: block;
    width: 82vw;
    height: 11rem;
    position: absolute;
    cursor: pointer;
    display: inline;
}

.box_discript:hover .box_rect_discript {
    fill: #003876;
}

.box_rect_discript {
    fill: #D0CECE;
    rx: 1.5rem;
	ry: 1.5rem;
	width: 80vw;
	height: 10rem;
	filter: drop-shadow(1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.161));
    transition: all 0.4s ease;
}

#map {
    z-index: 500;
    height: 45vh;
    width: 100%;
    margin: 0 0 5rem 0;
    transition: all 0.4s ease;
}


@media (orientation: landscape) {
    html {
        font-size: 0.45vw;
    }

    .seperate {
        display: grid;
        grid-template-columns: 2fr 6fr 1fr;
        grid-template-areas: "left center right";
    }

    .boxes {
        grid-area: left;
    }

    #container {
        width: 42rem;
    }

    .box {
        width: 42rem;
    }

    .box_rect{
        width: 41rem;
        justify-content: center;
    }

    .box_rect.active{
        width: 41rem;
        justify-content: center;
    }

    #map {
        grid-area: center;
        height: 80vh;
        width: 100%;
    }

    #descript {
        grid-area: right;
    }
    .box_discript {
        width: 11vw;
        height: 81vh;
    }

    .box_rect_discript {
	    width: 10vw;
	    height: 80vh;
    }
}